<h1>Admin Dashboard</h1>
<div class="panel panel-default items">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="2">Total Products Available</th>
        <th>Total Categories Available</th>
      </tr>
    </thead>
    <tr>
      <td colspan="2"><%= @number_of_products %></td>
      <td><%= @number_of_categories %></td>
    </tr>
  </table>
</div>

<%= link_to "Products", admin_products_path, class: 'btn btn-lg btn-primary' %>

