<header>
  <h1>Welcome to the Jungle!</h1>
    <p>
      This is The Jungle Book Story. The story is about a man-baby who was found in the jungle by Bagheera the panther. Bagheera carried the baby to his friends, the wolves. The wolves raised the baby as their own, They named him Mowgli. Mowgli learned to take care of himself in the jungle, but Bagheera the panther was always nearby. He was ever ready to protect little Mowgli. The elephants became hid friends. Even the elephants gruff leader, Colnel Hathi, beacme Mowgli's friend. It was Colnel Hathi who marched every day at the head of his elephant patrol.
    </p>
</header>